<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @event_class.description %>
</p>

<%= link_to 'Edit', edit_event_class_path(@event_class) %> |
<%= link_to 'Back', event_classes_path %>
